---
--- ${remark}
--- Created by ${user}.
--- DateTime: ${date}
---
---

${className} = {}

local OPCode = $opCode

-- ${remark}
#foreach( $param in $params )
--  ${param.name} ${param.remark}
#end
function ${className}.BuildByteBuf($sendDecrParams)
    local buf = LuaFramework.ByteBuffer.New()
    buf:WriteInt(OPCode)
#foreach( $param in $params )
$param.code
#end
    return buf
end

