
/**
* $remark 内部类
*
*/
public static class $reqParamName  {


#foreach( $reqParam in $reqParams )

    /**
    * $reqParam.remark
    */
${reqParam.validCode}
#if($reqParam.type == "Date")
#if($body)
    @JsonFormat(pattern = "${reqParam.format}")
#end
    @DateTimeFormat(pattern = "${reqParam.format}")
#end
    private $reqParam.type ${reqParam.name};
#end

#foreach( $reqParam in $reqParams)
#if($reqParam.type == "Boolean")
    public $reqParam.type is${reqParam.methodName}() {
        return ${reqParam.name};
    }
#else
    public $reqParam.type get${reqParam.methodName}() {
        return ${reqParam.name};
    }
#end

#if($reqParam.type == "String")
    public void set${reqParam.methodName}($reqParam.type ${reqParam.name}) {
        this.${reqParam.name} = ${reqParam.name} == null ? null : ${reqParam.name}.trim();
    }
#else
    public void set${reqParam.methodName}($reqParam.type ${reqParam.name}) {
        this.${reqParam.name} = ${reqParam.name};
    }
#end

#end

}